.photo_user {
    /*display: block;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border-radius: 15px;
    width: 90%;
    border: 2px solid #a0a0a0
}

.block_center {
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    /*align-items: center; !* и вертикали *!*/
    /*width: 200px; !* задали размеры блоку-родителю *!*/
    /*height: 200px;*/
    overflow: hidden; /* если элемент больше блока-родителя – обрезаем лишнее */
}