.image_profile_edit {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.image_profile_edit:hover {
    cursor: pointer;
}

.btn_edit {
    background-color: #ffebeb;
    border: none;
}

.btn_edit:hover {
    background-color: #ffebeb;
    border: none;
    cursor: pointer;
}