/* Style page content */
.location-container {
    margin-left: 300px; /* Same as the width of the sidebar */
    padding: 0;
    background-color: #bafaba;
    height: 100vh !important;
    display: block;
}

.img-map{
    position: fixed;
}